<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Salaries_SettingsFile" value="SalConf.xml" />
    <add key="domain" value="DESKTOP-UPL8J7H" />
    <add key="groupHR" value="HRUsers" />
    <add key="groupManagers" value="Managers" />
    <add key="groupRecrutori" value="Recrutori" />
    <add key="numberOfDigits" value="2" />
    <add key="rapoarteServerUrl" value="http://ROBAVK185SRV.bav.cvclab.lan/ReportServer" />
    <!-- 0 - nu are acces la aplicatie
     1 - autentificare windows
     2 - autentificare cu user si parola -->
    <add key="authentication" value="1" />
    <add key="connStrExcel" value="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Excel 8.0;HDR=Yes';" />
    <add key="errorFolder" value="C:\Inetpub\wwwroot\hr\Error" />
    <add key="importFolder" value="C:\Inetpub\wwwroot\hr\InterfataSalarii\Templates" />
    <!--local - SiemensHR ROCVM20 Erorr
    <add key="dataSource" value="WiRqVu8zzmwRKNH6MKoHzg=="/>
    <add key="userID" value="UmN54nK6CaI=" />
    <add key="initialCatalog" value="koDFUi0YMLz1BzV4ns/l4g==" />
    <add key="pwd" value="QdgLXoWMkbrkhxZeygWssw=="/>
    <add key="oldPwd" value="QdgLXoWMkbrkhxZeygWssw=="/>-->
    
    <!--local - SiemensHR-->
    <!-- <add key="dataSource" value="mZppmhIEaHBpRbpR6Ff2Hw==" />
    <add key="userID" value="UmN54nK6CaI=" />
    <add key="initialCatalog" value="koDFUi0YMLz1BzV4ns/l4g==" />
    <add key="pwd" value="QdgLXoWMkbrkhxZeygWssw==" />
    <add key="oldPwd" value="QdgLXoWMkbrkhxZeygWssw==" />-->
    
    
    <!--local - SiemensHR ROLFC084A5F879F-->
    <!--<add key="dataSource" value="IDpSNMCNYJctkgtcSec6yQ==" />

    <add key="userID" value="UmN54nK6CaI=" />
    <add key="initialCatalog" value="koDFUi0YMLz1BzV4ns/l4g==" />
    <add key="pwd" value="QdgLXoWMkbrkhxZeygWssw==" />
    <add key="oldPwd" value="QdgLXoWMkbrkhxZeygWssw==" />-->

    <!--Real 185srv - SiemensHR -->

    <add key="dataSource" value="CtnJDEROct1WHpXaozhmCg==" />
    <add key="userID" value="UmN54nK6CaI=" />
    <add key="initialCatalog" value="koDFUi0YMLz1BzV4ns/l4g==" />
    <add key="pwd" value="pLsGdgrCZ4GYpOVSdhaT5ICsDhfugUnT" />
    <add key="oldPwd" value="pLsGdgrCZ4GYpOVSdhaT5ICsDhfugUnT" /> 

    <!--Real 185srv - SiemensHR  TEST  185srv.bav.cvclab.lan
    
    <add key="dataSource" value="CtnJDEROct3Wrb6/JdfN22kaKyXj10ool39IAeFmeH8=" />
    <add key="userID" value="UmN54nK6CaI=" />
    <add key="initialCatalog" value="koDFUi0YMLz1BzV4ns/l4g==" />
    <add key="pwd" value="pLsGdgrCZ4GYpOVSdhaT5ICsDhfugUnT" />
    <add key="oldPwd" value="pLsGdgrCZ4GYpOVSdhaT5ICsDhfugUnT" /> -->

    <!--MC0YY8DC LOCAL Computer 

    <add key="dataSource" value="r3brvaWpICzuD8KiS2z6pQ==" />
    <add key="userID" value="UmN54nK6CaI=" />
    <add key="initialCatalog" value="koDFUi0YMLz1BzV4ns/l4g==" />
    <add key="pwd" value="QdgLXoWMkbrkhxZeygWssw==" />
    <add key="oldPwd" value="QdgLXoWMkbrkhxZeygWssw==" />-->

    <!--Test 192srv - SiemensHR
    <add key="dataSource" value="lISmWvqfRbzt8L+/uYuOTA==" />
    <add key="userID" value="UmN54nK6CaI=" />
    <add key="initialCatalog" value="koDFUi0YMLz1BzV4ns/l4g==" />
    <add key="pwd" value="7T2yFzftkDlWoMQnml0grw==" />
    <add key="oldPwd" value="7T2yFzftkDlWoMQnml0grw==" />-->
    
    
    <!--Real - SiemensHR 
    <add key="dataSource" value="fKXiO2bhxMpX/7WUZ9cV8g==" />
    <add key="userID" value="UmN54nK6CaI=" />
    <add key="initialCatalog" value="koDFUi0YMLz1BzV4ns/l4g==" />
    <add key="pwd" value="pLsGdgrCZ4GYpOVSdhaT5ICsDhfugUnT==" />
    <add key="oldPwd" value="pLsGdgrCZ4GYpOVSdhaT5ICsDhfugUnT==" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="Error.htm">
      <error statusCode="401" redirect="Unauthorized.htm"/>
    </customErrors>
    <authentication mode="Windows" />
    <identity impersonate="false" />
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="200" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="Default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="iisstart.asp" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>