<style type="text/css">
	p	{ margin-top: 0; margin-bottom: 0; }
	div p	{ margin-top: 0; margin-bottom: 0; }
	body	{ margin: 2px 4px 4px 4px; background-color: transparent; 
		background-image: url();
		background-repeat: no-repeat;  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: WindowText; }
	img	{ cursor: pointer; }
	span
	{ 

	cursor: pointer;
	
	  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: WindowText;
	}
    a {  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Blue; }
    .clsMouseOver {  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Red; }
    .clsCurrentTocItem {  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Purple; }
	.toc	{ margin-left: 20px;}
	.topic	{}
	.caption	{ font-weight: bold; margin-bottom: 6pt; white-space:nowrap; }
	.back	{ margin-top: 12px; text-align: right; }
    form.clsFrmHidden { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; height:0px; display: none; visibility: hidden;}
    a.syncTocSelected
    { cursor:pointer;  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  none; color: White; }
    a.syncToc
    { cursor:pointer;  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Black; }
    a:hover.syncToc
    { cursor:pointer;  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Black; }
    img.syncToc	{ cursor:pointer; }
    div.clsTocNavPanel { margin: 0px 4px 0px 0px; text-align: right; }
</style>
